body {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    color: black;
}

.content {
    height: 100%;
    width: 100%;
}

.content h2 {
    font-size: 175%;
}

.entity {
    box-sizing: border-box;
    background-color: #ccc;
    float: left;
    border: 2px solid #000;
}

.page-title {
    text-align: center;
}

.row {
    margin: 0 auto;
}

.title {
    border-width: 0px 0px 2px 2px;
    border-color: #000;
    border-style: solid;
    float: right;
    width: 150px;
}

.title h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 125%;
}

.entity:nth-child(1) .title {
    background-color: red;
}

.entity:nth-child(2) .title {
    background-color: blue;
}

.entity:nth-child(2) h3 {
    color: #fff;
}

.entity:nth-child(3) .title {
    background-color: orange;
}

.description {
    clear: right;
    padding-top: 10px;
    margin: 0 10px 10px 10px;
}

/* Mobile optimisation */
@media (min-width: 992px){
    .row {
        width: 95%;
        height: 65%;
    }
    .entity {
        width: 31%;
        margin-right: 2%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .row {
        width: 95%;
        height: 100%;
    }
    .entity {
        width: 49%;
        margin-bottom: 25px;
    }
    .entity:nth-child(1) {
        margin-right: 2%;
    }
    .entity:nth-child(3) {
        width: 100%;
        margin-right: 0px;
    }
}

@media (max-width: 767px) {
    .row {
        width: 90%;
    }
    .entity {
        width: 100%;
        margin-bottom: 20px;
    }
}