ul.nav.navbar-nav {
    background-color: #ccc;
}

.navbar-brand {
	padding-left: 50px;
}

.title {
	font-weight: bold;
}

#chicken, #sushi, #beef {
	background-color: green;
    margin-bottom: 20px;
}
